# Core functionality - changes here should be rare!
/src/app.py                   @wolfgangGM
/src/backend/database.py      @wolfgangGM
/src/backend/routers/auth.py  @wolfgangGM

# The frontend will need refactored soon to be more object oriented.
/src/static/   @wolfgangGM
